<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>To Do List</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <!-- scripts-->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

        <script src="js/table.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">To-Do or Not To-Do 🚀 </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Welcome to your to Do ( or not To-Do ) List 📝</h1>
                <p class="lead">Select what do you want to add to your List</p>
            </div>
            <div class="row">
                <div id="list" class="col-lg-4 mb-5 order-1">
                    <form enctype="application/json" action="/post/json" method="post">
                        <div class="form-group">
                            <select class="form-select" name="sec_n">
                                <option value="0">NOW or Never</option>
                                <option value="1">Can Wait until tomorrow</option>
                                <option value="2">Not urgent</option>
                                <option value="3">Someday, maybe</option>
                                <option value="4">Why is this even on my To Do list ?</option>

                            </select>
                            <input class="form-control mt-3" type="text" name="Description" placeholder="Description">
                            <input class="form-control mt-3" type="text" name="Due" placeholder="Due">
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="d-grid gap-2">
                        <button id="delete" class="btn btn-danger btn-block mt-3">Delete</button>
                    </div>
                </div>
                <div id="results" class="col-lg-8 mb-5 order-2"></div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
